


body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;
}

.container{    
    
    color: white;
}


.login-box{
    padding: 5%;
    width: 280px;

    position: absolute;
    top: 45%;
    left: 50%;
    background-color: rgba(0,0,0,0.7);
    transform: translate(-50%, -50%);
    color: white;
}

.login-box h1{
    text-align: center;
    font-size: 40px;
    border-bottom: 6px solid #00704A;
    margin-bottom: 50px;
    padding: 13px;
}

.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #00704A;
}

.textbox i{
    width: 26px;
    float: left;
    text-align: center;
}

.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

.btn{
    width: 100%;
    background: none;
    border: 2px solid #00704A;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3 ease;
    margin: 12px 0;
}

.btn:hover, .btn:active, .btn:focus{
    background: #00704A; 
}